body {
    background-color: #f4f4f4;
    color: #141669;
}

.navbar {
  padding-top: 0;
    min-height: 33px !important;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav > li > a, .navbar-brand {
    height: 33px;
}

.fa-bars {
    color:white;
}

#header {
  padding: 1rem;
  background-color: #d9daf3;
}

.navbar-nav .nav-link {
  padding-left: 5px;
  padding-bottom: 5px;
}

.container {
  max-width: 100%;
}

#breadcrumb {
  padding: 0;
  margin-top: 2px;
  border-radius: .25rem;
}

.card {
  margin-top: 5px;
}

.prime {
  background-color: #141669;
  color: white;
}

.second {
  background-color: #d9daf3;
  color: #141669;
}

.figcaption {
  text-align: center;
}



.navbar {
    background-color: #141669;
  }
  .navbar .navbar-brand {
    color: #e3e3f6;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #c4c5f4;
  }
  .navbar .navbar-text {
    color: #e3e3f6;
  }
  .navbar .navbar-text a {
    color: #c4c5f4;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #c4c5f4; 
  }
  .navbar .navbar-nav .nav-link {
    color: #e3e3f6;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #c4c5f4;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #141669;
    border-color: #2d30a3;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #e3e3f6;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #c4c5f4;
    background-color: #2d30a3;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #2d30a3;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #c4c5f4;
    background-color: #2d30a3;
  }
  .navbar .navbar-toggler {
    border-color: #2d30a3;
  }
  .navbar .navbar-toggler:hover,
  .navbar .navbar-toggler:focus {
    background-color: #2d30a3;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #e3e3f6;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #e3e3f6;
  }
  .navbar .navbar-link {
    color: #e3e3f6;
  }
  .navbar .navbar-link:hover {
    color: #c4c5f4;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #e3e3f6;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c4c5f4;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c4c5f4;
      background-color: #2d30a3;
    }
    table {
      font-size: x-small;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #e3e3f6;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c4c5f4;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c4c5f4;
      background-color: #2d30a3;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #e3e3f6;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c4c5f4;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c4c5f4;
      background-color: #2d30a3;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #e3e3f6;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c4c5f4;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c4c5f4;
      background-color: #2d30a3;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #e3e3f6;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #c4c5f4;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #c4c5f4;
    background-color: #2d30a3;
  }